.cat-container {
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
.pantsimagehover:hover {
  transform: scale(1.08);
}
.pantsimagehover {
  transition: transform 0.4s ease;
  border-radius: inherit;
}
